* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.gallery {
  /* max-width: 368px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}
.gallery-item {
  width: 100%;
}
.gallery-image {
  display: block;
  object-fit: cover;
  width: 368px;
  margin-right: auto;
  margin-left: auto;
  transform-origin: 0 0 5%;
}

.gallery-item:hover {
  transform: scale(1.05, 1.05);
  z-index: 1;
  transition: transform 0.5s;
}

.modal-image {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 1127px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }

  .gallery-image {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 1128px) {
  .gallery {
    align-items: stretch;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    min-width: 1128px;
  }

  .gallery-item {
    width: calc((100% - 48px) / 3);
  }

  .gallery-image {
    display: block;
    width: 100%;
  }
}

.body-bg {
  background-color: #f5f5f5;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: start;
  row-gap: 8px;
  padding: 24px;
  font-size: 16px;
  width: 408px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: 24px;
}

label {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
  border-radius: 8px;
  font-size: 16px;
}

input {
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 18px;
}

textarea {
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding-left: 18px;
}

textarea:hover,
input:hover {
  border: 1px solid black;
}

textarea:active,
input:active {
  border: 1px solid #808080;
}

button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 16px;
  color: white;
  border: 2px solid #4e75ff;
  background-color: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}
